name: Release Build and Tag 1.2.1

on:
  push:
    branches:
      - release
      - 'release/**'

jobs:
  build-and-tag:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [
          { name: budget-frontend, path: app/Frontend },
          { name: budget-auth, path: app/backend-microservice/auth },
          { name: budget-report, path: app/backend-microservice/report },
          { name: budget-transaction, path: app/backend-microservice/transaction }
        ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Service
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.service.path }}
          file: ${{ matrix.service.path }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service.name }}:1.2.1